@import 'tailwindcss';

@theme {
    --color-primary: #3921F5;
    --color-dark: #141F39;
    --color-secondary: #4F4F4F;
}

@keyframes smooth-bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-12px);
    }
}

@keyframes bounce-lift {

    0%,
    100% {
        transform: translateY(0) scale(1);
    }

    25% {
        transform: translateY(-8px) scale(1.02);
    }

    50% {
        transform: translateY(-4px) scale(1.01);
    }

    75% {
        transform: translateY(-8px) scale(1.02);
    }
}

.animate-smooth-bounce {
    animation: smooth-bounce 0.6s ease-in-out;
}

.animate-bounce-lift {
    animation: bounce-lift 0.5s ease-in-out;
}